services:
  bot:
    image: ghcr.io/arckoor/xerox:latest
    build: .
    container_name: xerox
    restart: always
    environment:
      - PYTHONPATH=${PYTHONPATH}
      - DATABASE_URL=postgresql://xerox:${PG_PASSWORD}@db:5432/xerox-db
      - ENV=${ENV}
    volumes:
      - ./config/master.json:/xerox/config/master.json:ro
      - log-data:/xerox/logs
    depends_on:
      db:
        condition: service_healthy
    networks:
      - xerox-network
  db:
    image: postgres:16
    container_name: xerox-db
    restart: always
    environment:
      POSTGRES_USER: xerox
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: xerox-db
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - xerox-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5


networks:
  xerox-network:
    driver: bridge

volumes:
  db-data:
  log-data: